<head>
<link href='http://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
</head>

<template name="layout">
  <div class="layout">
    <div class="wrapper">
      {{> notifications}}
      {{> yield}}
    </div>
  </div>
</template>

<template name="header">
  <header>
    Double
  </header>
</template>

<template name="footer">
  <footer>
    <div class="pull-left">
      Clione Labs &copy; 2015
    </div>
    <div class="pull-right">
      <a href="https://www.facebook.com/DoubleAssistant" target="_blank">Like Us</a>&nbsp;|&nbsp;
      <a href="https://twitter.com/askdouble" target="_blank">Tweet Us</a>&nbsp;|&nbsp;
      <a href="http://askdouble.com" target="_blank">Visit Us</a>
    </div>
  </footer>
</template>
