$background-body: #f6f6f6;
$background-orange: #F05F40;
$grey : rgba(0, 0, 0, 0.4);
$dark-grey : rgba(0, 0, 0, 0.8);
$border: rgba(151, 151, 151, .5);
$link: rgba(0, 0, 0, 0.4);
$link-hover: #bcbcbc;
